# --- PYTHON ---
__pycache__/
*.py[cod]
*$py.class

# --- ENVIRONMENTS ---
myenv/
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/
.env
# Dockerfile

# --- DJANGO STUFF ---
*.sqlite3
*.log
*.pot
*.pyc
*.mo
*.swp
db.sqlite3
media/
staticfiles/

# --- ENV FILES (very important for secrets) ---
.env
.env.*
!.env.example   # but keep a safe example template

# --- IDEs / EDITORS ---
.vscode/
.idea/
*.iml

# --- OS FILES ---
.DS_Store
Thumbs.db
